.header {
    background-color: rgb(32, 194, 243);
    padding: 16px;
}
.headercontent{
    max-width: 900px;
    margin: auto;
    display: flex;
}
.headeritem {
    margin-right: 30px;
}

.headeritemactive {
    margin-right: 30px;
    font-weight: bold;
}

.content {
    max-width: 780px;
    margin: auto;
}

.checkbox {
    margin-top: 32px;
    margin-bottom: 32px;
}

.card {
    background-color: rgb(238, 240, 245);
    padding: 16px;
    margin-bottom: 16px;
}

.icons-container {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.icon-bike {
    width: 32px;
    margin: 5px;
}

